h1 {
  color:red;
}

p {
  color:yellow;
  font-family: Helvetica;
  font-size: 16px;
}

ul il {
  background-color: yellow;
}

h2 {
  color: green;
  background-color: orange;
}

ol il {
  background-color: teal;
}
